// Local dependencies
@import 'typography';

/**
 * GLOBAL STYLES
 */
html {
  color-scheme: dark;
  font-size: 62.5%;
  background-color: #000;
  height: 100%;
  display: flex;
}

body {
  scroll-behavior: smooth;
  font-size: 1.2em;
  padding-top: 3.2rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin: 0;
  flex-grow: 1;
}

@media (min-width: 76rem) {
  body {
    font-size: 2em;
    padding-top: 6.4rem;
    padding-left: 6.4rem;
    padding-right: 6.4rem;
  }
}
@media (min-width: 144rem) {
  body {
    font-size: 2.4em;
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/visually-hidden';

// Components
@import 'components/button';
@import 'components/subscribe';
@import 'components/home';
@import 'components/frame';
@import 'components/nav';
@import 'components/pagination';
@import 'components/post-list';
@import 'components/site-head';
@import 'components/site-foot';
@import 'components/skip-link';
@import 'components/syntax-highlighting';
