.frame {
  display: grid;
  grid-template-columns: 3.2rem 1fr 3.2rem;
  grid-template-rows: 3.2rem 14em 1fr auto;
}
//.frame::before {
//  content: '';
//  position: fixed;
//  display: block;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background-color: rgba(0,0,0,.5);
//}
.frame > * {
  z-index: 1;
}
.frame__video {
  min-width: 100%;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (orientation: portrait) {
  .frame__video {
    object-position: 65%;
  }
}
.frame__target {
  //noinspection CssUnknownTarget
  background: url("images/target.svg") center /1.6rem no-repeat;
  padding: 1.6rem;
}
.frame__target:last-child {
  grid-column: 3/4;
}
.frame__code {
  display: inline-block;
  transform: rotate(-90deg);
  font-size: 1rem;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  transform-origin: bottom right;
  grid-column: 3/4;
  white-space: nowrap;
  margin-right: 1em;
  align-self: center;
}
.frame__swatches {
  white-space: nowrap;
  line-height: 0;
  border: .1rem solid;
  border-right: 2.4rem solid;
  padding-left: 1.2rem;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.frame__swatches::before,
.frame__swatches::after {
  content: '';
  display: inline-block;
  padding: .6rem;
  border-left: .1rem solid;
}
.frame__swatches::before {
  background-color: rgba(255,255,255,.33);
}
.frame__swatches::after {
  background-color: rgba(255,255,255,.66);
}
.frame__left {
  display: inline-block;
  padding: .85rem;
  background-image:
    linear-gradient(rgba(255,255,255,0) .8rem, rgba(255,255,255,1) .8rem, rgba(255,255,255,1) .9rem, rgba(255,255,255,0) .9rem),
    linear-gradient(90deg, rgba(255,255,255,0) .8rem, rgba(255,255,255,1) .8rem, rgba(255,255,255,1) .9rem, rgba(255,255,255,0) .9rem);
  grid-row: 2/4;
  margin: auto;
}
.frame__scale {
  display: inline-flex;
  flex-direction: column;
  border-left: 1px solid;
  border-bottom: 1px solid;
  grid-column: 3/4;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  justify-content: space-between;
  padding-bottom: .5em;
  max-height: 17rem;
  align-self: end;
  height: 100%;
}
.frame__scale::before,
.frame__scale::after {
  content: '';
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-bottom: 1em;
}
.frame__scale span {
  display: block;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 2rem .3rem;
  margin: auto 0;
}
.frame__scale::before {
  margin-bottom: .5em;
}
.frame__scale::after {
  margin-top: .5em;
  margin-bottom: auto;
}
@media (min-width: 48em) {
  .frame {
    grid-template-columns: 5.6rem 1fr 5.6rem;
    grid-template-rows: 5.6rem 10em 1fr 5.6rem;
  }
  .frame__target {
    background-size: 2.4rem;
    padding: 2.8rem;
  }
  .frame__code {
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-right: 2rem;
  }
  .frame__swatches {
    border-right: 4rem solid;
    padding-left: 2rem;
  }
  .frame__swatches::before,
  .frame__swatches::after {
    padding: 1rem;
  }
  .frame__left {
    padding: 1.25rem;
    background-image: linear-gradient(rgba(255,255,255,0) 1.2rem, rgba(255,255,255,1) 1.2rem, rgba(255,255,255,1) 1.3rem, rgba(255,255,255,0) 1.3rem),
    linear-gradient(90deg, rgba(255,255,255,0) 1.2rem, rgba(255,255,255,1) 1.2rem, rgba(255,255,255,1) 1.3rem, rgba(255,255,255,0) 1.3rem);
    margin-bottom: 30vh;
  }
  .frame__scale span {
    padding: 3.8rem .6rem;
  }
}