// //стили для страницы /new
.wrapper {
  max-width: 120rem;
  padding: 0 15px;
  margin: 0 auto;
}

.button-green {
  text-decoration: none;
  outline: none;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(96.62deg, #82ff80 1.21%, #ffc700 96.06%);
  border-radius: 8px;
  color: #000;
  padding: 0.8em 1.1em;
  text-align: center;
  flex-shrink: 0;
  cursor: pointer;

  &:hover {
    background-size: 200% 200%;
    animation: gradient 5s ease-out infinite;
  }
}

.title {
  font-family: 'GT Super Display', serif;
  font-weight: 900;
  font-size: 3.7em;
  line-height: 1em;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to left, #80ff98, #ffc700);
  margin: 0;
  background-size: 200% 200%;
  animation: gradient 5s ease-out infinite;
  // margin-top: 3em;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.promo {
  min-height: 85.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/promo@1x.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 63.58em;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: top right;
  }
}

.promo__logo {
  width: 56.6rem;
  height: 35.8rem;
  background-image: url('../images/logo-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 5.1em;
  display: flex;

  @media (min-width: 70em) {
    width: 47.6rem;
    height: 30.8rem;
  }
}

.promo__logo svg {
  width: 14rem;
  height: auto;

  @media (min-width: 48em) {
    width: 28.5rem;
  }

  @media (min-width: 70em) {
    width: 39rem;
  }
}

.promo__description {
  font-family: 'GT Super Display', serif;
  font-weight: 900;
  text-align: center;
  margin: 0;
  font-size: 2.666em;
  padding: 0 0.5em;
}

.navigation {
  position: sticky;
  top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2.6em;
  padding: 0.4em 0.4em 0.3em;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  width: 100%;
  z-index: 5;
}

.navigation__logo-wrapper {
  margin-right: auto;
  flex-basis: 100px;
  flex-shrink: 1;
  flex-grow: 5;
  overflow-x: hidden;
  transition-property: flex-basis, flex-grow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.navigation__logo {
  width: 2em;
  height: auto;
  margin-right: 2em;
}
.navigation--sticky .navigation__logo-wrapper {
  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 0;
  opacity: 1;
}

.navigation__list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navigation__list li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
}

.navigation__link {
  margin-right: 1.2em;
  transition-duration: 300ms;

  svg {
    width: 1.5em;
    height: 1.5em;
  }

  &:hover {
    opacity: 70%;
  }
}

.navigation__list a {
  text-decoration: none;
  outline: none;
  font-weight: 400;
  font-size: 0.83em;
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.advantages {
  margin-top: 7.9em;
}

.advantages__title {
  margin-bottom: 0.2em;
  padding: 0.1em;
}

.advantages__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.9em;
}

.advantages__wrapper p {
  margin: 0;
  padding-right: 23px;
}

.advantages__description {
  grid-column: -1/-2;
  font-size: 2em;
  line-height: 1em;
}

.advantages__item {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  p {
    padding-top: 1em;
    padding-left: 0;
  }

  &:nth-of-type(2n + 1) {
    transform: translateY(-12em);

    p {
      padding-left: 0.2em;
    }
  }

  &--play {
    justify-content: flex-start;
    transform: translateY(3em);

    svg {
      width: 20em;
      height: 11.5em;
    }
  }

  &--generation img {
    width: 19em;
    height: 13.3em;
  }

  &--touch img {
    width: 17.6em;
    height: 17.6em;
  }

  &--edutainment img {
    width: 13.25em;
    height: 23em;
  }
}

.advantages__picture-wrapper {
  position: relative;
}

.advantages__button {
  min-height: 2.5em;
  font-size: 1em;
  box-sizing: border-box;
  width: 11.3em;
  border-radius: 32px;
  outline: none;
  border: none;
  position: absolute;
  background-color: #141414;
  color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1);
  cursor: pointer;
  transition-duration: 500ms;

  &:hover {
    transform: translate3d(-50%, -50%, 0) scale(1.1);
  }
}

.concept__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
}

.concept__description {
  min-height: 618px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-position: bottom;
}

.concept__picture {
  margin: 0 -2.3em;
  background-repeat: no-repeat;
  background-size: cover;

  &--glow {
    height: 472px;
    background-image: url('../images/glow@1x.jpg');
  }

  &--people {
    height: 759px;
    background-image: url('../images/people.jpg');
  }

  &--inventor {
    height: 760px;
    background-image: url('../images/inventor.jpg');
  }
}

.concept__description--emergence {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.29em;
  background-repeat: no-repeat;
  margin-top: 2em;

  .concept__picture--vitruvian {
    background-image: url('../images/vitruvian-man@1x.jpg');
    background-position: top right;
    background-size: 23.75em 100%;
    height: 20.33em;
  }

  .concept__picture--cube-west {
    background-image: url('../images/cube-west@1x.jpg');
    height: 20.05em;
    background-size: 23.75em 100%;
    margin-top: -8em;
  }

  p {
    max-width: 22.7em;
    padding-right: 1.8em;
    margin: 0;
    padding-bottom: 9em;
  }
}

.concept__wrapper p {
  line-height: 1.6em;
}

.concept__quote {
  font-family: 'GT Super Display', serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  align-self: center;
  font-size: 2em;

  &:first-of-type {
    max-width: 839px;
  }

  @media (min-width: 70em) {
    &:first-of-type {
      max-width: 1200px;
    }
  }
}

.announcement__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 8.3em;
}

.announcement__title {
  margin-bottom: 0.63em;
}

.announcement ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 37rem);
  gap: 1.2em;
  justify-content: center;
}

.announcement li {
  background-color: #141414;
  border-radius: 8px;
  padding: 27.9px 35.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 37rem;
  align-self: center;
  justify-self: center;

  & > svg {
    align-self: center;
    width: 11.55em;
    height: 8.7em;
  }
}

.announcement__data {
  margin: 0;
  font-size: 1.3em;
  padding-bottom: 0.9em;
}

.announcement__place {
  margin: 0.8em 0 0;
  line-height: 1.6em;
}

.announcement__link {
  text-decoration: none;
  outline: none;
  font-size: 0.84em;
  margin-top: 0.6em;
  margin-bottom: 1em;
  font-weight: 600;
  background-image: linear-gradient(96.62deg, #82ff80 1.21%, #ffc700 96.06%);
  border-radius: 8px;
  color: black;
}

.disabled {
  p {
    color: #4d4d4d;
  }

  .announcement__link {
    background-image: none;
    background-color: #4d4d4d;
    min-width: 9.8em;
  }
}

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 8px;
  background-color: #141414;
  margin-top: 3rem;
  padding: 1.37em 15.5em 1.37em 1.5em;
  background-image: url('../images/phone.svg');
  background-repeat: no-repeat;
  background-position: bottom right 3em;

  h3 {
    margin: 0;
    font-size: 1.33em;
    padding-bottom: 0.4em;
  }

  p {
    margin: 0;
    padding-bottom: 2.2em;
  }
}

.subscription__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.4em;
}

.subscription__mail {
  box-sizing: border-box;
  font-size: 0.85em;
  line-height: 1.2em;
  min-height: 3.2em;
  border-radius: 8px;
  border: none;
  width: 23.4em;
  margin-right: 13px;
  padding: 1em 1.2em;
  background-color: #cccccc;
}

.subscription__link {
  border: none;
  padding: 1.08em 1.25em;
  margin-bottom: 0.6em;
}

.team__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8.3em;
}

.team__title {
  padding-bottom: 1em;
}

.team__preface {
  max-width: 40.625em;
  p {
    margin: 0;
    line-height: 1.6em;
    padding-bottom: 1.7em;
  }
}

.team__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 0.5em;
}

.team__crewman {
  display: flex;
  flex-direction: column;

  img {
    width: 15em;
    height: 15em;
  }
}

.partners__wrapper {
  margin-top: 8.3em;
}

.partners__title {
  margin-bottom: 0.7em;
}

.partners__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5em;
  column-gap: 1em;
}

.partners__item {
  justify-self: center;

  &:first-of-type {
    grid-column: span 2;
    justify-self: end;
  }

  &:nth-of-type(3n + 2) {
    justify-self: start;
    margin-left: 1.3em;
  }

  &:nth-of-type(3n + 3) {
    padding-top: 1.3em;
    margin-left: 1.3em;
  }

  &:nth-of-type(2n + 4) {
    margin-left: 5.3em;
  }

  &:nth-of-type(5) {
    padding-top: 1.9em;
  }

  p {
    margin: 0;
    padding-top: 0.5em;
  }
}

.faqs__wrapper {
  margin-top: 11.25em;
}

.faqs__time,
.faqs__covid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #141414;
  margin-bottom: 1em;
}

.faqs__covid {
  padding-bottom: 4em;
}

.faqs__button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 1em;
  min-height: 3.4em;
  font-weight: 700;
}

.faqs__covid-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3.75em;
}

.faqs__covid-item {
  align-self: center;
  justify-self: center;
  position: relative;
  min-height: 5.59em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &::before {
    box-sizing: border-box;
    position: absolute;
    content: '';
    width: 3.5em;
    height: 3.5em;
    border: double 4px transparent;
    background-image: linear-gradient(#141414, #141414),
      radial-gradient(circle at top left, #80ff98, #ffc700);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 50%;
    background-color: transparent;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }
}
