// //стили для страницы /new
//.wrapper {
//  max-width: 120rem;
//  padding: 0 15px;
//  margin: 0 auto;
//}
.genius {
  background-image:  linear-gradient(rgba(0,0,0,0) 50vw, #000 70vw), url('../images/hero.jpg');
  background-size: 100% auto;
  background-position: 50% 12rem;
}
.genius main {
  position: relative;
}
.container {
  max-width: 116rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
.link--solid {
  text-decoration: none;
}
.link--solid[href] {
  border-bottom: 1px solid rgba(255,255,255,.3);
}

.button-green {
  text-decoration: none;
  outline: none;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(96.62deg, #82ff80 1.21%, #ffc700 96.06%);
  border-radius: 8px;
  color: #000;
  font-size: 0.89em;
  line-height: 1em;
  padding: 0.8em 0.9em;
  text-align: center;
  flex-shrink: 0;
  cursor: pointer;

  &:hover {
    background-size: 200% 200%;
    animation: gradient 5s ease-out infinite;
  }
}

.title {
  font-family: 'Inter', system-ui, sans-serif;
  font-weight: 600;
  font-size: 8.8rem;
  line-height: 1em;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  background-image: linear-gradient(to left, #80ff98, #ffc700);
  margin-top: 0;
  margin-bottom: 0;
  background-size: 200% 200%;
  animation: gradient 5s ease-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.promo {
  text-align: center;
  min-height: 80vw;
}

//.promo__logo {
//  width: 59.4rem;
//  height: 23.8rem;
//  background-image: url('../images/logo-background.png');
//  background-size: cover;
//  background-repeat: no-repeat;
//  margin-top: 9.3em;
//  display: flex;

  // @media (min-width: 70em) {
  //   width: 47.6rem;
  //   height: 30.8rem;
  // }
//}

.promo__logo img {
  padding-top: 11rem;

  // @media (min-width: 48em) {
  //   width: 28.5rem;
  // }

  // @media (min-width: 70em) {
  //   width: 39rem;
  // }
}

.promo__description {
  font-family: 'Inter', system-ui, sans-serif;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.63em;
  padding: 0 0.5em;
}

.navigation {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1.1em 0.4em;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  top: .5em;
  justify-self: center;
  z-index: 1;
  max-width: 116rem;
  margin-left: auto;
  margin-right: auto;
}

.navigation__logo-wrapper {
  flex-shrink: 1;
}

.navigation__list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  margin-left: auto;
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  padding-left: 0.5em;
}

.navigation__list li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.3em;
}

.navigation__link {
  margin-right: 1.4em;
  padding-top: 0.3em;
  transition-duration: 300ms;

  &:hover {
    opacity: 70%;
  }
}

.navigation__list a {
  text-decoration: none;
  outline: none;
  font-weight: 400;
  display: block;
  padding-top: 0.7em;
  padding-bottom: 0.5em;
}

.advantages {
  margin-top: 8em;
}

.advantages__title {
  margin-bottom: 8rem;
}
.advantages__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
}

.advantages__wrapper p {
  margin: 0;
}

.advantages__description {
  grid-column: 2/3;
  grid-row: 1/3;
  font-size: 2em;
  line-height: 1.2em;
}

.advantages__item {

  p {
    padding-top: 1em;
    padding-left: 0;
    line-height: 1.6em;
  }

  &--play {
    grid-row: 5/7;

    // svg {
    //   width: 20em;
    //   height: 11.5em;
    // }
  }

  &--generation {
    grid-row: 2/4;
  }
  &--generation p {
    padding-top: 1.2em;
  }

   &--touch {
     grid-column-start: 2;
     grid-row: 3/5;
   }

   &--edutainment {
     grid-row: 4/6;
   }
   &--edutainment p {
     max-width: 19em;
   }
}

.advantages__picture-wrapper {
  position: relative;
}
.advantages__picture-wrapper svg {
  width: 100%;
  height: auto;
}

.advantages__button {
  font-size: 2rem;
  padding: .6em 1.2em;
  box-sizing: border-box;
  border-radius: 2em;
  border: none;
  position: absolute;
  background-color: #141414;
  color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  cursor: pointer;
  transition-duration: 500ms;
  margin: 0;
  white-space: nowrap;

  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }

  &::before {
    content: '';
    padding: .6em;
    background: url("../images/icon-play.svg") center /contain no-repeat;
    margin-right: .8em;
  }
  &--playing::before {
    background-image: url("../images/icon-pause.svg");
  }
}

.concept__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
}

.concept__description {
  min-height: 618px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-position: bottom;
}

.img--fluid {
  margin: 0 -5.6rem;
  width: 100vw;
}
.concept__picture {
  object-fit: cover;
  object-position: center;


  &--glow {
    height: 472px;
  }

  &--people {
    height: 759px;
  }

  &--inventor {
    height: 760px;
    background-image: url('../images/inventor.jpg');
  }
}

.concept__columns {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.concept__columns > div {
  flex-basis: 23em;
}
.concept__columns p {
  margin-top: 0;
}

.concept__picture--vitruvian {
  width: 56rem;
  height: 48rem;
  margin-top: 12rem;
}

.concept__picture--cube-west {
  width: 56rem;
  height: 70rem;
}

.concept__picture--cosmos {
  background: url("../images/cosmos.jpg") no-repeat fixed;
  height: 60rem;
  margin-top: 8rem;
  margin-bottom: 7rem;
}

.concept__wrapper p {
  line-height: 1.6em;
}

.concept__quote {
  font-family: 'GT Super Display', serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  align-self: center;
  font-size: 2em;
  max-width: 96rem;
}

.concept__technical {
  width: 100%;
  max-width: 97rem;
}

.announcement {
  margin-top: 20rem;
}
.announcement__wrapper {
  display: grid;
  grid-template-columns: 36rem 1fr;
  grid-gap: 4rem;
  margin-top: 4rem;
}

.announcement__title {
  margin-bottom: 0.63em;
}

.announcement ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 37rem);
  gap: 1.2em;
  justify-content: center;
}

.announcement__item {
  background-color: #141414;
  border-radius: 8px;
  padding: 2.4rem 3.2rem 4.8rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.announcement__item > svg {
  align-self: center;
  width: 11.55em;
  height: 8.7em;
  margin-top: 2.4rem;
}

.announcement__data {
  margin: 0;
  font-size: 1.3em;
  padding-bottom: 0.9em;
}

.announcement__place {
  margin: 0.8em 0 0;
  line-height: 1.6em;
}

.announcement__link {
  text-decoration: none;
  outline: none;
  font-size: 0.84em;
  margin-top: 0.6em;
  margin-bottom: 1em;
  font-weight: 600;
  background-image: linear-gradient(96.62deg, #82ff80 1.21%, #ffc700 96.06%);
  border-radius: 8px;
  color: black;
}
.announcement__contacts {
  line-height: 1.6;
}

.disabled {
  p {
    color: #4d4d4d;
  }

  .announcement__link {
    background-image: none;
    background-color: #4d4d4d;
    min-width: 9.8em;
  }
}

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 8px;
  background-color: #141414;
  padding: 2.4rem 3.2rem 4.8rem;
  background-image: url('../images/phone.svg');
  background-repeat: no-repeat;
  background-position: 90% 100%;

  p {
    margin-top: 0;
    margin-bottom: 2em;
  }
}
.subscription__title {
  margin-top: 0;
  margin-bottom: .8rem;
  font-size: 3.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.subscription__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.4em;
}

.subscription__mail {
  box-sizing: border-box;
  font-size: 0.85em;
  line-height: 1.2em;
  min-height: 3.2em;
  border-radius: 8px;
  border: none;
  width: 23.4em;
  margin-right: 13px;
  padding: 1em 1.2em;
  color: #000;
  background-color: #fff;
  color-scheme: light;
}

.subscription__link {
  border: none;
  padding: 1.08em 1.25em;
  margin-bottom: 0.6em;
}

.team {
  margin-top: 20rem;
}
.team__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8.3em;
}

.team__title {
  padding-bottom: 1em;
}
.team__cover {
  margin-bottom: 8rem;
}
.text--maxw {
  max-width: 40.625em;
  margin-top: 0;
  line-height: 1.6em;
  margin-bottom: 1.7em;
}

.team__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 0.5em;
}

.team__crewman {
  display: flex;
  flex-direction: column;

  img {
    width: 15em;
    height: 15em;
  }
}

.partners {
  margin-top: 20rem;
}

.partners__title {
  margin-bottom: 0.7em;
}

.partners__list {
  list-style: none;
  margin-top: 8rem;
  margin-bottom: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5em;
  column-gap: 1em;
}

.partners__item {
  justify-self: center;

  &:first-of-type {
    grid-column: span 2;
    justify-self: end;
  }

  &:nth-of-type(3n + 2) {
    justify-self: start;
    margin-left: 1.3em;
  }

  &:nth-of-type(3n + 3) {
    padding-top: 1.3em;
    margin-left: 1.3em;
  }

  &:nth-of-type(2n + 4) {
    margin-left: 5.3em;
  }

  &:nth-of-type(5) {
    padding-top: 1.9em;
  }

  p {
    margin: 0;
    padding-top: 0.5em;
  }
}

.faqs {
  margin-top: 20rem;
}
.faqs__title {
  margin-bottom: 3.6rem;
}
.faqs__row {
  background-color: #1A1A1A;
  border-radius: .8rem;
  padding: .9em 1.25em;
}
.faqs__summary {
  display: block;
  cursor: pointer;
  background: url("../images/arrow_down.svg") right /3.6rem auto no-repeat;
  font-weight: bold;
  outline: none;
}
::-webkit-details-marker {
  display: none;
}
.faqs__row[open] > .faqs__summary {
  background-image: url("../images/arrow_up.svg");
  margin-bottom: 2.2rem
}

.faqs__time,
.faqs__covid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #141414;
  margin-bottom: 1em;
}

.faqs__covid {
  padding-bottom: 4em;
}

.faqs__button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 1em;
  min-height: 3.4em;
  font-weight: 700;
}

.faqs__covid-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3.75em;
}

.faqs__covid-item {
  align-self: center;
  justify-self: center;
  position: relative;
  min-height: 5.59em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &::before {
    box-sizing: border-box;
    position: absolute;
    content: '';
    width: 3.5em;
    height: 3.5em;
    border: double 4px transparent;
    background-image: linear-gradient(#141414, #141414),
      radial-gradient(circle at top left, #80ff98, #ffc700);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 50%;
    background-color: transparent;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }
}

.genius__footer {
  margin-top: 20rem;
}
.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__nav {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  grid-gap: 4rem;
  font-size: 3.2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__bottom {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 1.6;
}
.footer__copyright {
  flex-basis: 57rem;
}
.footer__credit {
  font-size: 2rem;
  padding-bottom: 5.6rem;
  text-transform: uppercase;
  background: url("../images/footer_icons.svg") bottom right /auto 4rem no-repeat;
}
.genius__footer p {
  margin-bottom: 0;
}