.footer {
  z-index: 1;
}
.nav {
  text-align: right;
}
.nav__list {
  margin: 0;
  list-style: none;
  padding: 0;
}
.nav__item {
  margin-left: 1em;
  display: inline-block;
}
.nav__link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: .8rem 0;
  outline: none;
  transition: color .2s;
}
.nav__link:hover,
.nav__link:focus {
  color: #FF00F5;
}
@media (min-width: 48em) {
  .nav__link {
    font-size: 1.6rem;
    padding: 1em 0;
  }
}