.nav {
  text-align: right;
}
.nav__link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: .9rem 0;
  outline: none;
  transition: color .2s;
}
.nav__link:hover,
.nav__link:focus {
  color: #FF00F5;
}