<h1 class="home__heading {{ ' visually-hidden' if logo }}">{{ introHeading }}</h1>
{% if logo %}
  <img class='home__logo' src='{{ logo }}' alt='Genius Immersive Show' width='140' height='70'>
{% endif %}
{% if introSummary %}
  <div class="home__description">{{ introSummary | safe }}</div>
{% endif %}