<form action="https://bigborealis.us5.list-manage.com/subscribe/post?u=7c4999c0b58c12e5aaa2b66f4&amp;id=4e9bbc04b7" method="post" id="subscribe" name="mc-embedded-subscribe-form" class="validate subscribe" target="_blank">
    <p class='subscribe__text'>Coming Soon in 2021. Subscribe to updates</p>
    <div class='subscribe__wrapper' id="mc_embed_signup_scroll">
        <input aria-label='E-mail' type="email" value="" name="EMAIL" class="email subscribe__input" id="mce-EMAIL" placeholder="Enter your email" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input aria-label='Boop-beep?' type="text" name="b_7c4999c0b58c12e5aaa2b66f4_4e9bbc04b7" tabindex="-1" value=""><input aria-label='GDPR' type="checkbox" id="gdpr_349290" name="gdpr[349290]" value="Y" class="av-checkbox gdpr" checked></div>
        <span class='subscribe__shadow'></span>
        <button class='subscribe__btn button' id="mc-embedded-subscribe" name='subscribe'><span>Send</span></button>
        <p class='subscribe__message' id="mce-responses" hidden>This is wrong email</p>
    </div>
</form>