<form class='subscribe' id='subscribe' name="subscribe" action="https://script.google.com/macros/s/AKfycbxZNVCq-9zSC6qPfDPCi0Vp5Wez9IV39B5wiANdZXdSC82CwJrpMgNW3OFrIJR-9c5N9A/exec" method='post'>
  <p class='subscribe__text'>Coming Soon in 2021. Subscribe to updates</p>
  <div class='subscribe__wrapper'>
    <input class='subscribe__input' type='email' name='email' placeholder='Enter your email' aria-label='E-mail' required>
    <span class='subscribe__shadow'></span>
    <button class='subscribe__btn' name='btn'><span>Send</span></button>
    <p class='subscribe__message' hidden>This is wrong email</p>
  </div>
  <noscript>Turn on JavaScript in your browser for better experience.</noscript>
  <input name="bot-field" aria-label='Don’t fill this out' type='hidden'/>
</form>
<script>
  document.getElementById('subscribe').addEventListener('submit', function(e) {
    e.preventDefault();
    const form = e.currentTarget;
    const formData = new FormData(form);
    const email = form.email;
    const btn = form.btn;
    const msg = document.querySelector('.subscribe__message');
    form.classList.remove('subscribe--success', 'subscribe--error');
    email.disabled = btn.disabled = true;

    fetch(form.action, {method: form.method, body: formData})
            .then(async response => {
              form.classList.add('subscribe--success');
              msg.textContent = "Thank you, we've just added your email to the list";
              console.log('Success!', await response.json().then(data => data));
              email.disabled = btn.disabled = false;
            })
            .catch(error => {
              form.classList.add('subscribe--error');
              msg.textContent = 'Network error. Please try later';
              console.error('Error!', error.message);
              email.disabled = btn.disabled = false;
            })
  });
</script>
