{% set pageTitle = title + ' - ' + site.name %}
<!DOCTYPE html>
<html lang="en" class="no-js{{ ' home' if page.url === '/' }}">
<!--suppress HtmlRequiredTitleElement -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ pageTitle }}</title>
  {% if metaDesc %}
    <meta name="description" content="{{ metaDesc }}" />
    <meta name="twitter:description" content="{{ metaDesc }}" />
    <meta property="og:description" content="{{ metaDesc }}" />
  {% endif %}
  <!--Open Graph-->
  <meta property="og:title" content="Genius Immersive Show" />
  <meta property = "og:type" content = "website" />
  <meta property = "og:url" content = "{{ site.url }}" />
  <meta property="og:image"  content="{{ site.url }}og-image-1200×620.png" />
  <meta property="vk:image"  content="{{ site.url }}og-image-1020×456" />
  <meta name="twitter:site" content="@bigexperiential/">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Genius Immersive Show">
  <meta name="twitter:image" content="{{ site.url }}og-image-1200×620.png.jpg">

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180×180.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-config" content="browserconfig.xml" />
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#000000">
  <link rel='stylesheet' href='{{ '/global.css' | url }}'>
  {% block head %}
  {% endblock %}
</head>
<body class='frame' {% if (background and page.url === '/') %} style='background-image: url("/images/{{ background }}")' {% endif %}>
  <span class='frame__target'></span>
  <span class='frame__swatches'></span>
  <span class='frame__target'></span>
  <span class='frame__left'></span>
  {% block content %}
  {% endblock content %}
  <span class='frame__code'>EJ 01 5790 8702+33</span>
  <span class='frame__scale'>
        <span></span>
    </span>
  <span class='frame__target'></span>
  {% include "partials/global/site-foot.njk" %}
  <span class='frame__target'></span>
  {% block foot %}
  {% endblock %}
</body>
</html>
