{% extends 'layouts/base.njk' %}

{% block content %}
  <main class='page__content'>
    <h1 class='page__title'>{{ title }}</h1>
    <div>
      {{ content | safe }}
    </div>
  </main>
{% endblock %}

{{ content | safe }}
