<div class='frame'>
    <span class='frame__target'></span>
    <span class='frame__swatches'></span>
    <span class='frame__target'></span>
    <span class='frame__left'></span>
    <span class='frame__code'>EJ 01 5790 8702+33</span>
    <span class='frame__scale'>
        <span></span>
    </span>
    <span class='frame__target'></span>
    <span class='frame__target'></span>
</div>