.home__heading {
  max-width: 5em;
  line-height: .8;
  font-size: 2.5em;
  margin: 0;
}
.home__logo {
  width: 14rem;
  height: auto;
  max-width: 100%;
}
.home__description {
  margin-top: .8rem;
  max-width: 14.25em;
}
.home__description p {
  margin: 0;
}
@media (min-width: 76rem) {
  .home__logo {
    width: 28.5rem;
  }
  .home__description {
    margin-top: 2.4rem;
  }
}
@media (min-width: 144rem) {
  .home__logo {
    width: 38rem;
  }
  .home__description {
    max-width: 16em;
  }
}