/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  //noinspection CssUnknownTarget
  src:
    url('fonts/inter-v3-latin-regular.woff2') format('woff2'),
    url('fonts/inter-v3-latin-regular.woff') format('woff');
  font-display: swap;
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  //noinspection CssUnknownTarget
  src:
    url('fonts/inter-v3-latin-700.woff2') format('woff2'),
    url('fonts/inter-v3-latin-700.woff') format('woff');
  font-display: swap;
}
/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  //noinspection CssUnknownTarget
  src:
    url('fonts/inter-v3-latin-600.woff2') format('woff2'),
    url('fonts/inter-v3-latin-600.woff') format('woff');
  font-display: swap;
}
body {
  font-family: 'Inter', sans-serif;
}
.page__title {
  margin-top: 0;
  margin-bottom: .25em;
}
.page__content {
  max-width: 34em;
}
a {
  color: inherit;
}