// Local dependencies
@import 'typography';

/**
 * GLOBAL STYLES
 */
html {
  color-scheme: dark;
  font-size: 62.5%;
  background-color: #000;
  min-height: 100%;
  display: flex;
  color: #fff;
}

body {
  scroll-behavior: smooth;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin: 0;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
}
@media (orientation: portrait) {
  body {
    background-position: 65% 50%;
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  z-index: 1;
  grid-row: span 2;
}
@media (min-width: 48em) {
  body {
    font-size: 2em;
  }
}
@media (min-width: 70em) {
  body {
    font-size: 2.4em;
  }
}
@media (min-width: 110em) {
  html {
    font-size: 93.75%;
  }
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/visually-hidden';

// Components
@import 'components/subscribe';
@import 'components/home';
@import 'components/frame';
@import 'components/nav';